header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 1001;
}

.menu {
  list-style: none;
  display: flex;
  height: 105px;
  align-items: flex-end;
  transition: height 0.3s;
}

.menu-smaller {
  height: 60px;
  animation: fadeInBackground 1s;
  background: #fff;
}

.menu-smaller > li.item {
  animation: fadeInBackground 1s;
}

.menu-smaller li.logo img#main-logo {
  height: 55px;
}

.menu li.logo img#main-logo {
  margin-right: 1.5em;
  margin-left: 0.6em;
  transition: all 0.3s;
}

.menu > li.item {
  margin: 0 0 10px;
  padding: 0 1em;
  background: transparent;
  display: flex;
  height: 40px;
  align-items: center;
  cursor: pointer;
}

.menu > li.item > a {
  font-family: 'Slabo 27px', serif;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color;
  text-decoration: none;
  color: #555;
}

.menu > li.item > a:hover {
  color: #000;
}

.menu > li.item > a:active {
  margin-top: 1px;
}

.item.selected {
  background-color: rgba(0, 0, 0, .6) !important;
  animation: fadeInOpacity 1s infinite alternate;
  border-radius: 4px;
}

.menu-smaller .selected {
  background-color: rgba(0,0,0,.6) !important;
}

.selected > a {
  color: #fff !important;
}

@keyframes fadeInOpacity {
  from { opacity: .6; }
}

@keyframes fadeInBackground {
  from { background-color: #999; }
}

.menu li.hamb {
  display: none;
  width: 100%;
  margin-bottom: 12px;
}

.menu li.hamb .hamb-wrapper {
  cursor: pointer;
  width: 32px;
  float: right;
  margin-right: 1em;
}

.menu li.hamb .hamb-wrapper .hamb-item {
  height: 5px;
  border-radius: 2px;
  background-color: #44633F;
  margin-bottom: 5px;
}

.hamb-links-wrapper {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1002;
}

.hamb-links-wrapper .hamb-links li.item a {
  display: block;
  background-color: #607d8b;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 2em;
  line-height: 1.7em;
  margin: 0.5em;
}

@media (max-width: 767px) {
  .menu > li.item {
    display: none;
  }
  .menu li.hamb {
    display: block;
  }
}
