.footer {
  background: #e5e5e5 url('../images/bg3.jpg');
  border-top: solid 2px #5CAB7D;
  padding: 2em 1em;
}

.footer img.logo-sm {
  height: 60px;
}

.footer p {
  color: #8D8E8F;
  font-size: .7em;
  line-height: 2em;
}
