[Service]
User=quintal_varjota
Group=www-data
WorkingDirectory=/home/quintal_varjota/quintal_varjota
ExecStart=/home/quintal_varjota/quintal_varjota/venv/bin/gunicorn --workers 3 --bind unix:/home/quintal_varjota/quintal_varjota/quintal_varjota.sock quintal_varjota.wsgi:application
