.siteHeader {
  /**
   * Lay out the children of this container with
   * flexbox, which is horizontal by default.
   */
  display: flex;

  /**
   * Make the container put as much space as possible
   * between its children, with the children at either
   * end laying flush against the container's edges.
   */
  justify-content: space-between;

  padding: 5px 1em;
  background-color: rgba(75, 54, 33, 0.7);
}

.siteHeader__section {
  /**
   * Lay out the children of this container with
   * flexbox.
   */
  display: flex;

  /**
   * Align the children in the center, along
   * the main axis. By default the children will
   * align along their top edges.
   */
  align-items: center;
}

.siteHeader__item {
  padding: 5px;
  font-size: 12px;
}

.siteHeader__item + .siteHeader__item {
  margin-left: 5px;
}

.siteHeader__item.is-site-header-item-selected {
  color: #FFFFFF;
  background-color: #415F69;
  border-radius: 4px;
}

.siteHeaderLogo {
  font-size: 20px;
  line-height: 0;
  color: white;
  text-decoration: none;
}

.siteHeaderLogo .label {
  font-size: 12px;
  margin-left: 0.5em;
  text-decoration: none;
  color: #fff;
}

.siteHeaderButton {
  cursor: pointer;
  color: #D9E9EF;
}

@media (max-width: 480px) {
  .social-network-top {
    display: none;
  }
}

.social-network-top .siteHeader__item {
  min-width: 18px;
  text-align: center;
}
