/* Nossos Sabores */

.links {
  min-height: 100vh;
  display: flex;
  background-size: cover;
}

.links .linksBody {
  flex: 1;
  padding: 18vh 1em  0;
}

.links .linksDetail {
  flex: 1.5;
  max-height: 80vh;
  overflow: auto;
}

.links .linksThumbs {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

.links .linksThumbs .linksThumbs-body {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.links .linksThumbs .linksThumbs-body div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15.5vh;
  margin: 1vh 0;
  border-radius: 4px;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: right;
}

.links .linksThumbs .linksThumbs-body div:hover {
  opacity: 1;
  cursor: pointer;
}

.links .linksThumbs .linksThumbs-button--prev,
.links .linksThumbs .linksThumbs-button--next {
  height: 30px;
  width: 100%;
}

.links .linksThumbs .btn {
  border-radius: 4px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.links .linksDetail .linksDetail-image {
  width: 100%;
  height: 350px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
