.intro {
  min-height: 100vh;
  align-items: flex-end;
  display: flex;
}

.intro .text {
  width: 100vw;
  margin-top: 14vh;
  min-height: 80vh;
}

.intro .slider-wrapper {
  margin: 0 auto;
  padding: 25px;
}

.intro .slider-wrapper .slider-content {
  min-height: 65vh;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .intro .slider-wrapper {
    padding: 25px;
  }
  .intro .slider-wrapper .slider-content {
    min-height: 55vh;
  }
}

.intro .slider-wrapper .slick-track > div {
  min-height: 72vh;
  background: no-repeat center center fixed;
  background-size: cover;
  border-radius: 4px;
}
