.about-house {
  /*background: linear-gradient(rgb(75, 106, 180), rgba(75, 106, 180, 0.7));*/
  background-image: url('../images/black-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: block;
  width: 100%;
  overflow-x: hidden;
}

.about-house > .HolyGrail {
  padding: 115px 1em 0;
}

/* desktop */
@media (min-width: 768px) {
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content {
    flex: 1;
    min-height: 80vmin;
    margin-right: 0;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-ads {
    max-width: 230px;
    padding: 0 20px;
  }
  /* Body */
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content .description {
    display: flex;
    min-height: 80vmin;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content .description .descriptionText {
    flex: 1;
    position: relative;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content .description .descriptionText h2 {
    font-family: 'Avenir LT Std 35 Light', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: lighter;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content .description .descriptionText p {
    margin: .5em 1em 1em 0;
    color: #ccc;
    line-height: 1.5em;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content .description .descriptionImage {
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content .description .descriptionImage img {
    max-width: 100%;
    border-radius: 4px;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content .description .descriptionButtonContainer {
    position: absolute;
    bottom: 0;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content .description .descriptionButton {
    font-size: 50px;
    color: #999;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 20px;
    cursor: pointer;
    margin-right: 5px;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content .description .descriptionButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
}

.about-house .aboutHouse-sliderWrapper {
  margin: 2em;
}

.about-house .aboutHouse-sliderWrapper .image img {
  max-height: 200px;
}
