.about-house {
  /*background: linear-gradient(rgb(75, 106, 180), rgba(75, 106, 180, 0.7));*/
  background-size: cover;
  min-height: 100vh;
  display: block;
  width: 100%;
  overflow-x: hidden;
}

.about-house > .HolyGrail {
  padding: 115px 1em 0;
}

/* desktop */
@media (min-width: 768px) {
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content {
    flex: 1;
    min-height: 80vmin;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-ads {
    max-width: 230px;
    padding: 0 20px;
  }
  /* Body */
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content > .description {
    display: flex;
    margin-bottom: 1em;
    border-bottom: dashed 1px #666;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content > .description .descriptionText {
    flex: 3;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content > .description .descriptionText p {
    margin: .5em 1em 1em 0;
    color: #ccc;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content > .description .descriptionImage {
    flex: 1;
  }
  .about-house > .HolyGrail > .HolyGrail-body > .HolyGrail-content > .description .descriptionImage img {
    max-width: 100%;
    border-radius: 4px;
  }
}

.about-house .aboutHouse-sliderWrapper {
  margin: 2em;
}

.about-house .aboutHouse-sliderWrapper .image img {
  max-height: 200px;
}

.about-house .slick-arrow:before {
  color: rgb(75, 54, 33);
}
